@use "../../custom";

.main-home {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.socialMedia {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  & a {
    margin: 1em;
    &:hover {
      transform: scale(1.1);
    }
  }
}
