@use "../custom";

.main-home{
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    width: 50%;
}



.socialMedia {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    & button{
        border: none;
        background: none;
        border-radius: 30px;
        :hover{
            transform: scale(1.1);
        }
    } 
}
