.burger-menu .bm-burger-button {
    width: 30px;
    height: 24px;
  }
  
  .burger-menu .bm-burger-bars {
    background: #000; // Customize the background color if needed
  }
  
  .burger-menu .bm-menu {
    background: #fff; // Customize the background color if needed
  }