$primary: #feb321;
$secondary: #2ca4a4;
$text-success : #d5328b;
$info: #e7cb95;
$link-decoration: none;

$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  auto: auto,
  6: $spacer * 5,
);
