@import "./_variables_overrides.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary-color: black;
$secondary-color: white;
$tercery-color: #feb321;
$quatre-color: #2ca4a4;
$cinq-color: #e7cb95;
//4524

$base-font-stack: "Montserrat", sans-serif;
$title-font-stack: "Bebas Neue", sans-serif;

h1,
button,
li {
  font-family: $title-font-stack;
  font-size: 36px;
}

p,
h2 {
  font-family: $base-font-stack;
}

li {
  list-style: none;
}

header {
  margin: 5rem 3rem;
}

p {
  margin: 5rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
